<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- bean definitions here -->
  <bean name="speakerRepositoryBean" class="dev.shreya.springframeworkindepth.xmlconfig.repository.SpeakerRepositoryHibernateImpl"/>
  <bean name="speakerService" class="dev.shreya.springframeworkindepth.xmlconfig.service.SpeakerServiceImpl">
    <!-- <property name="speakerRepository" ref="speakerRepositoryBean"/>-->
    <constructor-arg index="0" ref="speakerRepositoryBean"/>
  </bean>

</beans>